*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*TYPE*/
    a{
        text-decoration: none;
    }
    h1{
        font-family: aneroregular;
        font-size: 36px;
        text-align: center;
        padding-top: .5em;
    }
    h2{
        font-family: aneroregular;
        font-size: 28px;
        text-align: center;
        padding-top: 0.5em;
    }
    h3{
        font-family: aneroregular;
        font-size: 20px;
        text-align: center;
        padding-top: 0.25em;
    }
    p{
        align-items: baseline;
        font-size: 14px;
        font-weight: 400;
        padding: .5em;
    }

/*CONTENEDOR*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                        "img-hero img-hero hero"
                        "planes planes span"
                        "footer footer footer";
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 60px;
    margin: 0 auto;
    }

/*NAV*/
.div-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e0e;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    }

.img-nav{
    width: 15%;
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.nav-toggle{
    color: #efefef;
    background: none;
    border: none;
    font-size: 150%;
    margin-right: 1em;
    display: none;
    }

.nav-menu{
display: flex;
list-style: none;
    }

.nav-menu-item{
    font-size: 18px;
    font-weight: 700;
    color: #efefef;
    margin: 0 1em;
    line-height: 60px;
    text-transform: uppercase;
    }

.nav-link{
    color: #efefef;
    }

.nav-link:hover{    
    color: #ffe501;
    background-color: #241f21;
    padding: 0.2em;
    border-radius: 0.1em;
    transition: .5s;
    }

/*ENCABEZADO Y BAJADA*/
.header{
    border-color: #0e0e0e;
    border-style: solid;
    border-top: none;
    border-radius: 0 0 .5em .5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: .5em;
    grid-area: header;
    }

.header p{
    padding-bottom: .5em
    }

/*HERO-ASOCIATE-ON-LINE*/
.img-hero{
    border-color: #0e0e0e;
    border-style: solid;
    border-radius: .5em;
    width: 100%;

    grid-area: img-hero;
    }

.hero {
    border-color: #0e0e0e;
    border-style: solid;
    border-radius: .5em;
    background-color: #241f21;
    color: #ffe501;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-area: hero;

    }

.hero p{
    color: #efefef;
    }

.boton-ver-mas{
    color: #ffe501;
    border: 0.1em solid #efefef;
    border-radius: .2em;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 50%;
    padding: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    }

.boton-ver-mas:hover{
    border: 0.15em solid #ffe501;
    color: #efefef;
    }

/*MAIN-PLANES*/
.planes {
    border-color: #0e0e0e;
    border-style: solid;
    border-radius: .5em;

    background-color: #241f21;
    color: #ffe501;

    grid-area: planes;
    padding: 0 1em 1em 1em;
    }

.section-planes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "article article"
                        "article article";
    border-style: solid;
    border-radius: .5em;
    background-color: #241f21;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 1em;
    color: #0e0e0e;
    background-color: #efefef;
    }

article {
    border-color: #0e0e0e;
    border-style: solid;
    border-radius: .5em;
    background-color: #efefef;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

/*FOOTER*/
.footer {
    border-color: #0e0e0e;
    border-style: solid;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    grid-area: footer;
    text-align: center;
    }

/*GALERIA*/
.body-galeria{
    background-image: url(../img/cuadricula.svg);
}

.contenedor-galeria{
    width: 90%;
    max-width: 1000px;
    background-color: #efefef;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header"
                        "galeria"
                        "footer";
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em; 
    padding-top: 60px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.galeria{
grid-area: galeria;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 1em;
margin-bottom: 3em;
margin-top: 2em;
}

.galeria a img{
    width: 100%;
    border-radius: .25em;
    border: .15em #0e0e0e solid;
}

@media (min-width:1025px) and (max-width:1280px){
/*CONTENEDOR*/
.contenedor{
    padding-top: 50px;
}

/*NAV*/
.div-nav{
    height: 50px;
    }

.nav{
    max-width: 80%;
    }

.img-nav{
    width: 15%;
    }

.nav-menu-item{
    font-size: 14px;
    font-weight: 700;
    color: #efefef;
    margin: 0 1em;
    line-height: 25px;
    text-transform: uppercase;
    }
}

@media(min-width:769px) and (max-width:1024px){
/*TYPE*/
a{
    text-decoration: none;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}
p{
    font-size: 12px;
    padding: .25em;
}

/*CONTENEDOR*/
.contenedor{
    gap: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 40px;
}

/*NAV*/
.div-nav{
    height: 40px;
    }

.nav{
    max-width: 80%;
    }

.img-nav{
    width: 13%;
    padding-left: 1em;
    }

.nav-menu-item{
    font-size: 12px;
    font-weight: 700;
    color: #efefef;
    margin: 0 .5em;
    }

.nav-link:hover{    
    color: #ffe501;
    background-color: #241f21;
    padding: 0.2em;
    border-radius: 0.1em;
    transition: .3s;
    }

/*ENCABEZADO Y BAJADA*/
.header{
    border-radius: 0 0 .25em .25em;
    padding-top: .25em;
    }

.header p{
    padding-bottom: .25em
    }

/*HERO-ASOCIATE-ON-LINE*/
.img-hero{
    border-radius: .25em;
}

.hero {
    border-radius: .25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    }

.hero p{
    color: #efefef;
    }

.boton-ver-mas{
    font-size: 14px;
    width: 40%;
    margin-bottom: .5em;
}

/*MAIN-PLANES*/
.planes {
    border-radius: .25em;
    grid-area: planes;
    padding: 0 .5em .5em .5em;
    }

.section-planes {
    border-radius: .25em;
    padding-right: .5em;
    padding-top: .5em;
    margin-top: .5em;
    }

article {
    border-radius: .25em;
    margin-left: .5em;
    margin-bottom: .5em;
    }

/*FOOTER*/
.footer {
    border-radius: .25em .25em 0 0;
    }

/*GALERIA*/
.contenedor-galeria{
    width: 90%;
    max-width: 1000px;
    background-color: #efefef;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header"
                        "galeria"
                        "footer";
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 40px;
    margin: 0 auto;
}

.galeria{
grid-area: galeria;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
gap: 1em;
margin-bottom: 3em;
}

.galeria a img{
    width: 100%;
    border-radius: .25em;
    border: .15em #0e0e0e solid;
}
}

@media(min-width: 320px) and (max-width:768px){
/*TYPE*/
a{
    text-decoration: none;
}
h1{
    font-family: aneroregular;
    font-size: 26px;
    text-align: center;
}
h2{
    font-family: aneroregular;
    font-size: 18px;
    text-align: center;
    padding-top: 0.5em;
}
h3{
    font-family: aneroregular;
    font-size: 14px;
    text-align: center;
    padding-top: 0.25em;
}
p{
    align-items: baseline;
    font-size: 10px;
    font-weight: 600;
    padding: .5em;
}

/*CONTENEDOR*/
.contenedor{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header"
                        "img-hero" 
                        "hero"
                        "planes"
                        "footer";
    gap: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 30px;
    margin: 0 auto;
    }

/*NAV*/
.div-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #0e0e0e;*/
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;

    }

.img-nav{
    width: 11%;
    }

.nav-toggle{
    color: #efefef;
    background: none;
    border: none;
    font-size: 100%;
    margin-right: 1em;
    display: block;
    }

.nav-toggle:focus:not(focus-visible) {
    outline:none;
    }

.nav-menu{
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 30px;
    width: 100%;

    height: calc(100% - 30px);
    overflow-y: scroll;

    left: 100%;
    transition: left 0.3s;

    /*background-color: #241f21;*/
    }

.nav-menu_visible{
    left: 0;
    }

.nav-menu-item{
    font-size: 12px;
    font-weight: 700;
    color: #efefef;
    margin: 0 .5em;
    line-height: 4em;
    text-transform: uppercase;
    }

.nav-link{
    color: #efefef;
    }

.nav-link:hover{    
    color: #ffe501;
    background-color: #0e0e0e;
    padding: .7em;
    border-radius: 0.25em;
    transition: 1s;
    }

/*ENCABEZADO Y BAJADA*/
.header{
    border: 2px #0e0e0e solid;
}

/*HERO-ASOCIATE-ON-LINE*/
.img-hero{
    margin-top: 1em;
    border-radius: .25em;
    border: 2px #0e0e0e solid;
    width: 80%;
    justify-self: center;
    }

.hero {
    border: 2px #0e0e0e solid;
    border-radius: .25em;
    background-color: #241f21;
    color: #ffe501;
    width: 60%;
    justify-self: center;
    }

.hero p{
    max-width: 100%;
    text-align: center;
}

.boton-ver-mas{
    border: 0.13em #efefef solid;
    border-radius: .2em;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 25%;
    padding: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    }

.boton-ver-mas:hover{
    border: 0.13em solid #ffe501;
    color: #efefef;
    }

/*MAIN-PLANES*/
.planes {
    border-radius: .25em;
    padding: 0 .25em .25em .25em;
    margin-top: 1em;
    width: 100%;
    justify-self: center;
    }

.section-planes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(, 1fr);
    grid-template-areas: "article article" 
                            "article article" 
;
    border-radius: .25em;
    padding-right: .5em;
    padding-top: .5em;
    margin-top: .5em;
    border: 2px #0e0e0e solid;
    }

article {
    border-radius: .25em;
    margin-left: .5em;
    margin-bottom: .5em;
    text-align: center;
    border: 2px #0e0e0e solid;
    }

/*footer*/
.footer{
    margin-top: 1em;
}

.footer p strong{
    font-size: 8px;
}

/*GALERIA*/
.contenedor-galeria{
    width: 70%;
    max-width: 1000px;
    background-color: #efefef;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header"
                        "galeria"
                        "footer";
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 30px;
    margin: 0 auto;

}

.galeria{
grid-template-columns: 1fr;
grid-template-rows: repeat(9, 1fr);
justify-self: center;
gap: .5em;
}

}